<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Git Instance events</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.13"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.7.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:mekomsolutions/ocd3-gitops.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/30 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.groovy.SystemGroovy plugin="groovy@442.v817e6d937d6c">
      <source class="hudson.plugins.groovy.StringSystemScriptSource">
        <script plugin="script-security@1373.vb_b_4a_a_c26fa_00">
          <script>try {
    // Get the admin user using jenkins.model.Jenkins
    def user = jenkins.model.Jenkins.get().getUser(&apos;admin&apos;)
    def tokenProperty = user.getProperty(jenkins.security.ApiTokenProperty.class)
    
    // Generate new token
    def result = tokenProperty.tokenStore.generateNewToken(&apos;gitops-script-token&apos;)
    def token = result.plainValue
    
    // Create a proper EnvironmentContributingAction
    def envAction = new hudson.model.EnvironmentContributingAction() {
        @Override
        void buildEnvironment(hudson.model.Run&lt;?, ?&gt; run, hudson.EnvVars env) {
            env.put(&apos;JENKINS_API_TOKEN&apos;, token)
        }
        
        @Override
        String getDisplayName() {
            return null
        }
        
        @Override
        String getIconFileName() {
            return null
        }
        
        @Override
        String getUrlName() {
            return null
        }
    }
    
    // Add the action to the build
    build.addAction(envAction)
    
    println &quot;Token generated successfully and set as JENKINS_API_TOKEN: ${token}&quot;
    return 0
    
} catch (Exception e) {
    println &quot;Error generating token: ${e.message}&quot;
    e.printStackTrace()
    return 1
}</script>
          <sandbox>false</sandbox>
        </script>
      </source>
    </hudson.plugins.groovy.SystemGroovy>
    <hudson.tasks.Shell>
      <command>node /opt/node-scripts/src/gitops/gitops.js</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>